.mybtn {
	font-family: sans-serif;
	font-size: 18px;
	width: 50%;
	border: none;
	background: #404040;
	color: #ffffff !important;
	font-weight: 700;
	padding: 20px;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}
.mybtn:hover {
	color: #404040 !important;
	font-weight: 770;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
}

input{
    width:15%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }
  
input:hover{
    border-color:#ed3330;
    box-shadow:0 0 8px 0 #ed3330;
  }

input:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
  }

.text {
	font-family: sans-serif;
	font-size: 18px;
	width: 40%;
	border: none;
	background: #404040;
	color: #ffffff !important;
	font-weight: 700;
	padding: 20px;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.text:hover {
	color: #404040 !important;
	font-weight: 900 !important;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
}
h1 {
	font-family: cursive;
	font-size: 40px;
	margin-bottom: 10px;
}
.container {
	width:95%;
	color: #404040 !important;
	font-weight: 900 !important;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
}
.header {
	width:95%;
	color:  #ffffff!important;
	font-weight: 900 !important;
	background: #404040;
	transition: all 0.3s ease 0s;
}
.in {
	font-family: sans-serif;
	font-size: 20px;
}
.a {
	font-family: sans-serif;
	font-size: 18px;
	width: 40%;
	border: none;
	background: #ffffff;
	color: #404040 !important;
	font-weight: 700;
	padding: 20px;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.mytext {
	font-family: sans-serif;
	font-size: 18px;
	width: 95%;
	border: none;
	background: white;
	color: black!important;
	font-weight: 700;
	padding: 20px;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}